body {
    margin: 0;
    padding: 0;
    font-family: : Sans-Serif;
    
}
.container img{
    
    max-height: 100%;
    max-width: auto;
margin:auto;
}
.img-pres{
    width: 50%;
}

nav {
    width: 100%;
    background: black;
position: relative;
z-index: 500;
}

a:hover {
    text-decoration: none;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0px !important;

}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;

}

ul li:hover {
    background: blue;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: black;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;

}
.conteneur-pres{
    display: flex;
     background-color: #edf5e3;
}

@media (max-width: 768px) {
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    	
    }

    ul li {
        display: block;
        text-align: center;
    }

}

.active {
    display: block;
}



#slide1,
#slide2,
#slide3,
#slide4 {
    height: 100%;
 
}
#slide4{
	display: flex;
}


.background {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:#232057;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background h1 {
    position: absolute;
    color: white;
    font-size: 5vw;
}

.presentation{
	color: black;
font-size: 1.5vw;
padding-right:10%;
text-align: left;
}
.presentation h2{
	font-size: 3vw;
    color: white;
}
.presentation h3{
	font-size: 2vw;
}

    
    

.text_pres{

    font-size: 1.5vw;
}

#slide2 {
    background: url(milky-way.jpg)center 0 no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    
}
#slide2 h2{
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:4vw;
    text-align: center;
    height: 100%;
}



.container{
  height: 80vh;
  display: grid;
  z-index: 3;
    flex-direction: column;
    justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 200px;
}




.photo-pres {
    flex: 1;
    display: flex;
    
    flex-direction: column;

    justify-content: center;

}

.img-pres {
    width: 90%;
    display: flex;


}




.cell {
  color: white;
  font-size: 3rem;
  text-align: center;

  margin:4px;
  background: url(british-columbia.jpg) no-repeat center center;
  background-size:cover;
  transition: width 1s, height 1s;
  
}

.cell:hover{
	opacity:0.7;
	width:90%;
	height: 90%;

}

.texte1 {
    flex: 1;
    
    display:flex;
    flex-direction: column;


}

.texte1 div {
    position: relative;
   
}



#slide3 {
    
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

#slide1 .slide_inside {
    text-align: center;
    padding-top: 20%;
   
}

#slide3 .slide_inside {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding: 50px;
}
#slide4{
	width: 100%;
	display: flex;
justify-content: space-between;
	color: black;
	height: 50vh;
	background-color: #edf5e3;
 
 	padding-left: 15%;
 	padding-right:15%;
 	padding-top: 5%;
}



.slide_inside {
    width: 100%;
    margin: 0 auto;
}

.slide1__title {
    color: white;
    padding-top: 7em;
    text-align: center;
   top: 50%; 
  transform: translateY(-40%); 
    font: inherit;
    font-size: 5vw;
    z-index: 3;
}

#container {
    margin: 20px;
    width: 200px;
    height: 100px;
}



/*Progress-bars */
.progress-bare {
    height: 100%;
    background: url(code.jpg)center 0 no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
}



@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);




.tmp {

    
    list-style-type: none;
    
    
}
.progress-bare h2{
    font-size: 3.5vw;
    color: white;
}
.progress-bare h3{
 font-size: 2vw;
}
.progress-bare-titres{
    height: 100%;

}
.progress-position {
    display: flex;
    justify-content: center;

}

progress{
	margin:2vw;
	width: 30vw;
    height: 2vw;
}

.contact_texte{
	flex:1;
width: 100%;

}

}
.contact_form{
	flex:1;
width: 100%;
font-size: 3vw;
background-color: black;
}
.langages p{
font-weight: bold;
font-size:2vw;
}



