/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 5, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}

/* line 22, ../sass/screen.scss */
header {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
}
/* line 30, ../sass/screen.scss */
header nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/screen.scss */
header nav nav.black {
  background: #000;
}
/* line 48, ../sass/screen.scss */
header nav ul {
  line-height: 60px;
  list-style: none;
  background: transparent;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}
/* line 62, ../sass/screen.scss */
header nav ul li {
  display: inline-block;
  padding: 16px 40px;
  color: #fff;
}
/* line 67, ../sass/screen.scss */
header nav ul li:hover {
  background-color: red;
}
/* line 70, ../sass/screen.scss */
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/*
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}*/
@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* line 106, ../sass/screen.scss */
.contenu-accueil {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  align-items: center;
}
/* line 123, ../sass/screen.scss */
.contenu-accueil .texte-contenu-accueil {
  padding-top: 6%;
  padding-bottom: 4%;
}
/* line 128, ../sass/screen.scss */
.contenu-accueil .texte-contenu-accueil h2 {
  font-size: 3vw;
  font-family: 'Roboto Slab', serif;
}
/* line 134, ../sass/screen.scss */
.contenu-accueil a {
  width: 15vw;
  padding-bottom: 3%;
}
/* line 138, ../sass/screen.scss */
.contenu-accueil a input {
  margin: 0;
  padding: auto;
  border-radius: 15px;
  margin: 2% 0%;
}
/* line 149, ../sass/screen.scss */
.contenu-accueil .logos {
  height: 20%;
  margin-top: 2.5%;
}

/* line 155, ../sass/screen.scss */
.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #FC4538;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: love;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes love {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes love {
  to {
    transform: scale(1.2);
  }
}
/* line 199, ../sass/screen.scss */
#conteneur-pres {
  width: 100%;
  display: block;
  background-color: white;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto Slab', serif;
}
/* line 208, ../sass/screen.scss */
#conteneur-pres .presentation-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edf5e3;
  height: 25vh;
}
/* line 215, ../sass/screen.scss */
#conteneur-pres .presentation-titre h2 {
  font-size: 4vw;
}
/* line 220, ../sass/screen.scss */
#conteneur-pres .photo-text {
  display: flex;
  flex-direction: row;
  height: 75%;
  font-family: 'Roboto Slab', serif;
}
/* line 226, ../sass/screen.scss */
#conteneur-pres .photo-text .moi {
  width: 50%;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 100%;
  background: linear-gradient(to top, #6a85b6 0%, #3A5199 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 237, ../sass/screen.scss */
#conteneur-pres .photo-text .moi img {
  max-width: 25%;
  border: 1px black solid;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: relative;
  cursor: pointer;
  transition: left 5s cubic-bezier(0, 0, 1, 1);
}
/* line 251, ../sass/screen.scss */
#conteneur-pres .photo-text .presentation {
  color: white;
  font-size: 1.5vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  max-width: 50%;
  background: #2F2E33;
  height: 100%;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
}
/* line 266, ../sass/screen.scss */
#conteneur-pres .photo-text .presentation h3 {
  font-size: 2vw;
}
/* line 270, ../sass/screen.scss */
#conteneur-pres .photo-text .presentation .text_pres {
  font-size: 1.3vw;
  margin: 2%;
  font-family: 'Roboto Slab', serif;
}

/* line 286, ../sass/screen.scss */
.slide_inside {
  width: 100%;
  margin: 0 auto;
}

/* line 291, ../sass/screen.scss */
#slide2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* line 300, ../sass/screen.scss */
#slide2 .presentation-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edf5e3;
  height: 25vh;
}
/* line 307, ../sass/screen.scss */
#slide2 .presentation-titre h2 {
  font-size: 4vw;
}
/* line 312, ../sass/screen.scss */
#slide2 .competences {
  display: flex;
  flex-direction: row;
  height: 75vh;
}
/* line 317, ../sass/screen.scss */
#slide2 .competences .wrapper2 {
  width: 50%;
  display: flex;
  background: #2F2E33;
}
/* line 323, ../sass/screen.scss */
#slide2 .competences .wrapper2 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}
/* line 331, ../sass/screen.scss */
#slide2 .competences .wrapper2 h2 {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.7vw;
  font-weight: bold;
  color: white;
}
/* line 340, ../sass/screen.scss */
#slide2 .competences .wrapper2 .hjp {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 600;
  align-items: center;
  margin: 0 auto;
}
/* line 350, ../sass/screen.scss */
#slide2 .competences .wrapper2 .hjp div {
  width: 100%;
}
/* line 356, ../sass/screen.scss */
#slide2 .competences .wrapper2 .hjp div#lang {
  margin: 0 auto;
  width: 80%;
}
/* line 360, ../sass/screen.scss */
#slide2 .competences .wrapper2 .hjp div#lang .line {
  height: 25px;
  max-width: 80%;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}
/* line 371, ../sass/screen.scss */
#slide2 .competences .wrapper2 .hjp div#lang .line :before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 20%;
  top: 0;
  z-index: -2;
  background: #d2d6d7;
  border-radius: 15px;
}
/* line 386, ../sass/screen.scss */
#slide2 .competences .wrapper2 .hjp div#lang .line :after {
  content: '';
  background: #333;
  height: 20%;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}
/* line 427, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 600;
}
/* line 437, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div {
  width: 100%;
}
/* line 443, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang {
  margin: 0 auto;
  width: 80%;
}
/* line 449, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang .line {
  height: 25px;
  max-width: 80%;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}
/* line 460, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang .line .line4:after {
  max-width: 30%;
}
/* line 465, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang .line .line5:after {
  max-width: 20%;
}
/* line 469, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang .line .line6:after {
  max-width: 80%;
}
/* line 474, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang .line :before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 20%;
  top: 0;
  z-index: -2;
  background: #d2d6d7;
  border-radius: 15px;
}
/* line 487, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm div#lang .line :after {
  content: '';
  background: #333;
  height: 20%;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}
/* line 511, ../sass/screen.scss */
#slide2 .competences .wrapper2 .arm .lang {
  width: 80%;
}
/* line 534, ../sass/screen.scss */
#slide2 .competences .others {
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to top, #6a85b6 0%, #3A5199 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 544, ../sass/screen.scss */
#slide2 .competences .others .others-details img {
  width: 30%;
}

/* line 569, ../sass/screen.scss */
#slide3 {
  height: 100vh;
  width: 100%;
  background-color: #2F2E33;
  background-size: cover;
  font-family: 'Pacifico';
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}
/* line 580, ../sass/screen.scss */
#slide3 .presentation-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edf5e3;
  height: 25vh;
}
/* line 587, ../sass/screen.scss */
#slide3 .presentation-titre h2 {
  font-size: 4vw;
  color: black;
}
/* line 593, ../sass/screen.scss */
#slide3 h2 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4vw;
  text-align: center;
  height: 100%;
}
/* line 604, ../sass/screen.scss */
#slide3 .container {
  height: 70vh;
  display: grid;
  z-index: 3;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 200px;
}
/* line 617, ../sass/screen.scss */
#slide3 .container img {
  width: 100%;
}
/* line 622, ../sass/screen.scss */
#slide3 .container .cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  overflow: hidden;
  margin: 4px;
  transition: width 1s, height 1s;
}
/* line 633, ../sass/screen.scss */
#slide3 .container .cell :hover {
  opacity: 0.7;
}

@media (max-width: 1000px) {
  /* line 658, ../sass/screen.scss */
  nav {
    height: 100vh;
  }

  /* line 662, ../sass/screen.scss */
  nav ul {
    background: #000;
    display: block;
    height: 100vh;
    margin: auto;
  }

  /* line 671, ../sass/screen.scss */
  .showing {
    max-height: 34em;
  }

  /* line 675, ../sass/screen.scss */
  nav ul li {
    width: 100%;
    padding: 24px;
    text-align: left;
  }
}
/* line 691, ../sass/screen.scss */
.formulaire {
  width: 100%;
  height: 75vh;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 699, ../sass/screen.scss */
.presentation-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edf5e3;
  height: 25vh;
  text-align: center;
}
/* line 708, ../sass/screen.scss */
.presentation-titre h2 {
  font-size: 4vw;
  color: black;
}

/* line 715, ../sass/screen.scss */
.contact-form {
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* line 725, ../sass/screen.scss */
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

/* line 731, ../sass/screen.scss */
.input-fields,
.msg {
  width: 48%;
}

/* line 736, ../sass/screen.scss */
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

/* line 747, ../sass/screen.scss */
.msg textarea {
  height: 212px;
}

/* line 751, ../sass/screen.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}

/* line 756, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}

/* line 761, ../sass/screen.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

/* line 766, ../sass/screen.scss */
.btn {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  /* line 777, ../sass/screen.scss */
  .contact-form {
    flex-direction: column;
  }

  /* line 781, ../sass/screen.scss */
  .msg textarea {
    height: 80px;
  }

  /* line 785, ../sass/screen.scss */
  .input-fields,
  .msg {
    width: 100%;
  }
}
/* line 792, ../sass/screen.scss */
.final__animation-bar-1 {
  position: relative;
  display: block;
  padding: 5px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

/* line 803, ../sass/screen.scss */
.final__animation-bar-1 span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  background-color: #f56982;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #f2395a, #b90c2b);
  animation: progress-anim-1 10s linear;
}

/* line 816, ../sass/screen.scss */
.final__animation-bar-1 span:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-size: 100%;
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 50%, #ffffff 50%, #ffffff 75%, transparent 75%, transparent);
  background-size: 30px 30px;
  opacity: 0.3;
  animation: progress-anim-1-after 0.5s infinite linear;
}

@-webkit-keyframes progress-anim-1 {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 80%;
  }
}
@keyframes progress-anim-1 {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 80%;
  }
}
/* line 865, ../sass/screen.scss */
.facebook:hover,
.linkedin:hover,
.github:hover {
  font-size: .8em;
  text-align: center;
  background-color: #111;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  -webkit-animation: bounce 1.2s ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 1.2s ease-out;
}

/* line 887, ../sass/screen.scss */
footer {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  height: 100vh;
  background: black;
  background-size: cover;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  15% {
    transform: translateY(-30%);
    padding-bottom: 5px;
  }
  30% {
    transform: translateY(-15%);
  }
  40% {
    transform: translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform: translateY(-15%);
  }
  70% {
    transform: translateY(-30%);
    padding-bottom: 7px;
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
